Repository ethstaker/eth-docker, pull requests merged in 2023-05, with the labels that each got.

#1354 Nethermind prune reduced to 2 threads
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1355 Address Sigma Prime entropy finding
  besu/docker-entrypoint.sh
  erigon/docker-entrypoint.sh
  geth/docker-entrypoint.sh
  lodestar/docker-entrypoint.sh
  nethermind/docker-entrypoint.sh
  nimbus-el/docker-entrypoint.sh
  nimbus/docker-entrypoint-vc.sh
  nimbus/docker-entrypoint.sh
  prysm/create-wallet.sh
  reth/docker-entrypoint.sh
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
Labels: test-lighthouse, test-prysm, test-grafana

#1361 Remove config file reference for Reth
  reth.yml
Labels: test-reth

#1365 Nethermind dasel to 2.2.0
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.dev
  nethermind/Dockerfile.source
Labels: test-nethermind

#1367 Use --datadir for Reth
  reth.yml
Labels: test-reth

#1368 Switch Nethermind back to Hybrid mode pruning
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1369 Nethermind 1.18 pruning memory budget
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1376 Fix lodestar and nimbus entrypoint on fresh sync
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/docker-entrypoint.sh
  nimbus/docker-entrypoint-vc.sh
  nimbus/docker-entrypoint.sh
Labels: test-nimbus, test-lodestar

#1378 Use --nat publicip for Reth
  reth.yml
Labels: test-reth

#1392 Lighthouse IPv6 behind an env var
  default.env
  ethd
  lighthouse-cl-only.yml
  lighthouse.yml
  lighthouse/docker-entrypoint.sh
Labels: test-lighthouse

#1397 Add prometheus-shared.yml to expose prometheus port
  default.env
  prometheus-shared.yml
Labels: test-grafana

#1405 Remove dasel
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.dev
  nethermind/Dockerfile.source
  nethermind/docker-entrypoint.sh
  nimbus.yml
  teku.yml
Labels: test-nethermind

#1407 Revert "Remove dasel (#1405)"
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.dev
  nethermind/Dockerfile.source
  nethermind/docker-entrypoint.sh
  nimbus.yml
  teku.yml
Labels: test-nethermind

#1413 Rely on Geth to choose PebbleDB on fresh sync
  geth/docker-entrypoint.sh
Labels: test-geth

#1414 Fix Lodestar date check for api token
  lodestar/docker-entrypoint.sh
Labels: test-lodestar
