Repository ethstaker/eth-docker, pull requests merged in 2023-11, with the labels that each got.

#1588 update no longer fails on diff
  ethd
Labels: test-ethd

#1589 Better error handling during update
  ethd
Labels: test-ethd

#1590 env versioning prep; better error handling
  default.env
  ethd
Labels: test-ethd

#1591 Detect ethd alias and print help accordingly
  ethd
Labels: test-ethd

#1592 Recognize help
  ethd
Labels: test-ethd

#1595 Raise Loki ingestion limit
  ethd
  loki/loki.yml
Labels: test-grafana

#1596 Traefik labels for CL files
  lodestar.yml
  nimbus.yml
  prysm.yml
Labels: test-lighthouse, test-nimbus, test-prysm, test-teku, test-lodestar

#1597 Breaking change - traefik files to avoid host header attacks on unsus…
  .github/workflows/test-lighthouse-reth.yml
  README.md
  besu.yml
  cl-traefik.yml
  ee-traefik.yml
  el-traefik.yml
  erigon.yml
  ethd
  geth.yml
  lighthouse-cl-only.yml
  lighthouse.yml
  lodestar-cl-only.yml
  lodestar.yml
  nethermind.yml
  nimbus-cl-only.yml
  nimbus.yml
  prysm-cl-only.yml
  prysm.yml
  reth.yml
  teku-cl-only.yml
  teku.yml
Labels: test-all

#1599 Add prometheus-traefik.yml
  grafana.yml
  prometheus-traefik.yml
Labels: test-grafana

#1604 Switch Prometheus to mostly scrape by Docker labels
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
  grafana/provision-dashboards.sh
  lodestar-vc-only.yml
  lodestar.yml
  nimbus-vc-only.yml
  prometheus/Dockerfile
  prometheus/choose-config.sh
  prometheus/global-prom.yml
  prometheus/make-config.sh
  prometheus/rootless/besu-prom.yml
  prometheus/rootless/choose-config.sh
  prometheus/rootless/erigon-prom.yml
  prometheus/rootless/geth-prom.yml
  prometheus/rootless/global.yml
  prometheus/rootless/lh-prom.yml
  prometheus/rootless/lhcc-prom.yml
  prometheus/rootless/ls-prom.yml
  prometheus/rootless/lscc-prom.yml
  prometheus/rootless/nethermind-prom.yml
  prometheus/rootless/nimbus-prom.yml
  prometheus/rootless/prysm-prom.yml
  prometheus/rootless/prysmcc-prom.yml
  prometheus/rootless/reth-prom.yml
  prometheus/rootless/ssv-prom.yml
  prometheus/rootless/teku-prom.yml
  prometheus/rootless/traefik-prom.yml
  prometheus/rootless/web3signer-prom.yml
  prometheus/ssv-prom.yml
  ssv.yml
  teku-vc-only.yml
  web3signer.yml
Labels: test-grafana

#1607 Reth dashboard without instance selection
  grafana/provision-dashboards.sh
Labels: test-grafana

#1608 ethd config can configure SSV on Holesky
  ethd
Labels: test-ethd

#1609 Less noisy error handler
  ethd
Labels: test-ethd

#1611 Attempt more consistent exit codes
  ethd
Labels: test-ethd

#1614 Make it easier to run multiple traefik-connected RPC
  besu.yml
  erigon.yml
  geth.yml
  nethermind.yml
  reth.yml
Labels: test-all

#1617 Fix prune-geth
  ethd
  geth/docker-entrypoint.sh
Labels: test-geth

#1618 Some cleanup around sudo
  ethd
Labels: test-ethd

#1623 Add v6 support to Lodestar
  default.env
  ethd
  ipv6.yml
  lighthouse-cl-only.yml
  lighthouse.yml
  lighthouse/docker-entrypoint.sh
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/docker-entrypoint.sh
Labels: test-lighthouse, test-lodestar

#1624 Add discv5 Geth/Erigon on IPV6
  erigon.yml
  erigon/docker-entrypoint.sh
  geth.yml
  geth/docker-entrypoint.sh
Labels: test-geth, test-erigon

#1625 Use --checkpoint-sync-url for Teku
  teku/docker-entrypoint.sh
Labels: test-teku

#1626 Use .NET 8 for Nethermind source build
  nethermind/Dockerfile.source
Labels: test-nethermind

#1627 Less scary message when ethd terminates
  ethd
Labels: test-ethd

#1628 default.env Holesky
  default.env
  ethd
Labels: test-ethd

#1630 ethd consistent indent
  ethd
Labels: test-ethd

#1631 Eth Docker version can be pinned
  README.md
  default.env
  ethd
Labels: test-ethd

#1632 Able to switch to existing local branch
  ethd
Labels: test-ethd

#1637 Preserve empty rapid sync URL
  ethd
Labels: test-ethd

#1641 up service-name supported
  ethd
Labels: test-ethd

#1621 Metric collection compatibility enhancement
  .github/workflows/test-grafana.yml
  .gitignore
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
  grafana/provision-dashboards.sh
  prometheus/.gitignore
  prometheus/Dockerfile
  prometheus/base-config.yml
  prometheus/conf.d/coingecko.yml
  prometheus/conf.d/ping.yml
  prometheus/custom-prom.yml.sample
  prometheus/docker-entrypoint.sh
  prometheus/global-prom.yml
  prometheus/make-config.sh
  prometheus/rootless-base-config.yml
  prometheus/rootless/besu-prom.yml
  prometheus/rootless/choose-config.sh
  prometheus/rootless/erigon-prom.yml
  prometheus/rootless/geth-prom.yml
  prometheus/rootless/global.yml
  prometheus/rootless/lh-prom.yml
  prometheus/rootless/lhcc-prom.yml
  prometheus/rootless/ls-prom.yml
  prometheus/rootless/lscc-prom.yml
  prometheus/rootless/nethermind-prom.yml
  prometheus/rootless/nimbus-prom.yml
  prometheus/rootless/prysm-prom.yml
  prometheus/rootless/prysmcc-prom.yml
  prometheus/rootless/reth-prom.yml
  prometheus/rootless/ssv-prom.yml
  prometheus/rootless/teku-prom.yml
  prometheus/rootless/traefik-prom.yml
  prometheus/rootless/web3signer-prom.yml
Labels: test-grafana
