Repository ethstaker/eth-docker, pull requests merged in 2023-08, with the labels that each got.

#1461 wget times out faster during grafana provision
  grafana/provision-dashboards.sh
Labels: test-grafana

#1462 Fix SSV dashboard jq
  grafana/provision-dashboards.sh
Labels: test-grafana

#1463 Use updated Nethermind dashboard
  .github/workflows/test-grafana.yml
  grafana-cloud.yml
  grafana.yml
  grafana/Dockerfile
  grafana/nethermind_dashboard.json
  grafana/provision-dashboards.sh
  prometheus/global.yml
Labels: test-grafana

#1467 Lodestar source build with Node 20
  lodestar/Dockerfile.source
  teku/Dockerfile.source
Labels: test-lodestar

#1468 Set FEE_RECIPIENT for CI
  .github/workflows/test-lighthouse-reth.yml
  .github/workflows/test-lodestar-erigon.yml
  .github/workflows/test-nimbus-nethermind.yml
  .github/workflows/test-prysm-geth.yml
  .github/workflows/test-teku-besu.yml
Labels: test-lighthouse

#1469 Reduce Teku default heap to 4g
  teku-cl-only.yml
  teku-vc-only.yml
  teku.yml
Labels: test-teku

#1470 Update Lodestar CLI flag to enable doppelganger protection
  lodestar/docker-entrypoint-vc.sh
Labels: test-lodestar

#1472 cadvisor version that is multiarch
  grafana-cloud.yml
  grafana.yml
Labels: test-grafana

#1473 Geth builds with Go 1.21
  geth/Dockerfile.source
Labels: test-geth

#1474 Improve CI
  .github/check-service.sh
  .github/test-ethd-config.exp
  .github/workflows/test-ethd.yml
  .github/workflows/test-grafana.yml
  .github/workflows/test-lighthouse-reth.yml
  .github/workflows/test-lodestar-erigon.yml
  .github/workflows/test-nimbus-nethermind.yml
  .github/workflows/test-prysm-geth.yml
  .github/workflows/test-teku-besu.yml
Labels: test-all

#1476 Fetch keys from web3signer on startup for Prysm, Teku, Lodestar
  lodestar-vc-only.yml
  lodestar.yml
  lodestar/docker-entrypoint-vc.sh
  prysm/docker-entrypoint-vc.sh
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
Labels: test-prysm, test-teku, test-lodestar

#1482 Teku waits for web3signer, to work around a Teku bug
  ethd
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
Labels: test-teku

#1456 Reth full node pruning
  reth.yml
  reth/docker-entrypoint.sh
Labels: test-reth
