Repository ethstaker/eth-docker, pull requests merged in 2023-09, with the labels that each got.

#1493 Enable custom testnet use
  ethd
  lodestar-cl-only.yml
  lodestar-vc-only.yml
  lodestar.yml
  lodestar/Dockerfile.binary
  lodestar/Dockerfile.source
  lodestar/docker-entrypoint.sh
  nethermind.yml
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.dev
  nethermind/Dockerfile.source
  nethermind/docker-entrypoint.sh
  prysm/Dockerfile.source
  teku-cl-only.yml
  teku.yml
  teku/Dockerfile.binary
  teku/Dockerfile.source
  teku/docker-entrypoint.sh
Labels: test-nethermind, test-teku, test-lodestar

#1494 Add Lighthouse custom testnet
  lighthouse-cl-only.yml
  lighthouse-vc-only.yml
  lighthouse.yml
  lighthouse/Dockerfile.binary
  lighthouse/Dockerfile.source
  lighthouse/docker-entrypoint-vc.sh
  lighthouse/docker-entrypoint.sh
  lodestar.yml
  lodestar/docker-entrypoint-vc.sh
  teku-vc-only.yml
  teku/docker-entrypoint-vc.sh
Labels: test-lighthouse, test-nethermind, test-teku, test-lodestar

#1495 Add Nimbus custom testnet
  nimbus-cl-only.yml
  nimbus.yml
  nimbus/Dockerfile.binary
  nimbus/Dockerfile.source
  nimbus/Dockerfile.sourcegnosis
  nimbus/Dockerfile.sourceslottime
  nimbus/docker-entrypoint.sh
Labels: test-nimbus

#1496 Prysm custom testnets
  prysm-cl-only.yml
  prysm-vc-only.yml
  prysm.yml
  prysm/Dockerfile.binary
  prysm/Dockerfile.source
  prysm/docker-entrypoint-vc.sh
  prysm/docker-entrypoint.sh
Labels: test-prysm

#1497 Reth custom testnet
  reth.yml
  reth/Dockerfile.binary
  reth/Dockerfile.source
  reth/docker-entrypoint.sh
Labels: test-reth, test-ethd

#1498 Besu custom testnet
  besu.yml
  besu/Dockerfile.binary
  besu/Dockerfile.source
  besu/docker-entrypoint.sh
Labels: test-besu

#1499 Erigon custom testnet
  erigon.yml
  erigon/Dockerfile.binary
  erigon/Dockerfile.source
  erigon/docker-entrypoint.sh
Labels: test-erigon

#1500 Geth custom testnet
  erigon/docker-entrypoint.sh
  geth.yml
  geth/Dockerfile.binary
  geth/Dockerfile.source
  geth/docker-entrypoint.sh
Labels: test-geth

#1501 Add MEV Boost to validator client only setup
  ethd
Labels: test-ethd

#1502 Debug namespace for lodestar so ethdo exit creation
  lodestar.yml
Labels: test-lodestar

#1503 Fix Erigon network detection
  .github/workflows/test-lodestar-erigon.yml
  erigon/docker-entrypoint.sh
  prysm/docker-entrypoint.sh
Labels: test-prysm, test-erigon

#1490 Holesky
  ethd
Labels: test-ethd

#1504 Remove Teku web3signer wait loop
  ethd
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
Labels: test-teku

#1506 Configurable source and binary repos
  besu.yml
  besu/Dockerfile.binary
  besu/Dockerfile.source
  default.env
  deposit-cli.yml
  erigon.yml
  erigon/Dockerfile.binary
  erigon/Dockerfile.source
  ethd
  flashbots/Dockerfile.binary
  geth.yml
  geth/Dockerfile.binary
  geth/Dockerfile.source
  lighthouse-cl-only.yml
  lighthouse-vc-only.yml
  lighthouse.yml
  lighthouse/Dockerfile.binary
  lighthouse/Dockerfile.source
  lodestar-cl-only.yml
  lodestar-vc-only.yml
  lodestar.yml
  lodestar/Dockerfile.binary
  lodestar/Dockerfile.source
  mev-boost.yml
  nethermind.yml
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.source
  nimbus-cl-only.yml
  nimbus-el.yml
  nimbus-el/Dockerfile.source
  nimbus-vc-only.yml
  nimbus.yml
  nimbus/Dockerfile.binary
  nimbus/Dockerfile.source
  nimbus/Dockerfile.sourcegnosis
  nimbus/Dockerfile.sourceslottime
  prysm-cl-only.yml
  prysm-vc-only.yml
  prysm.yml
  prysm/Dockerfile.binary
  prysm/Dockerfile.source
  reth.yml
  reth/Dockerfile.binary
  reth/Dockerfile.source
  staking-deposit-cli/Dockerfile
  teku-cl-only.yml
  teku-vc-only.yml
  teku.yml
  teku/Dockerfile.binary
  teku/Dockerfile.source
  web3signer.yml
  web3signer/Dockerfile.binary
Labels: test-all

#1507 Fix Prysm genesis fetch
  ethd
  prysm/docker-entrypoint.sh
  staking-deposit-cli/Dockerfile
Labels: test-prysm

#1505 Remove the default http.api configuration to avoid overwriting configuration in geth.yml.
  geth/docker-entrypoint.sh
Labels: test-geth

#1510 Support new web3-signer-url in Nimbus
  lodestar-vc-only.yml
  lodestar.yml
  nimbus-cl-only.yml
  nimbus-vc-only.yml
  nimbus.yml
  nimbus/docker-entrypoint-vc.sh
  nimbus/docker-entrypoint.sh
Labels: test-nimbus

#1460 Geth fresh sync uses PBSS
  ethd
  geth/docker-entrypoint.sh
Labels: test-geth

#1514 Cleaner Erigon prune logs for Holesky and custom
  erigon/docker-entrypoint.sh
  geth/docker-entrypoint.sh
Labels: test-geth, test-erigon

#1517 Remove hard-coded ancient barriers for Nethermind
  nethermind.yml
Labels: test-nethermind

#1516 Add tab completion for gnu systems
  bash-completion
  ethd
Labels: test-ethd

#1518 Scrape web3signer metrics
  prometheus/choose-config.sh
  prometheus/web3signer-prom.yml
Labels: test-grafana

#1520 Fixed cert for keymanager on teku-vc-only.yml
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
Labels: test-teku

#1521 Revert "Remove Teku web3signer wait loop (#1504)"
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
Labels: test-teku

#1522 Lay groundwork for supporting prysmctl
  default.env
  ethd
  prysm/Dockerfile.source
Labels: test-prysm

#1523 Change Prometheus retention to 40d
  grafana.yml
Labels: test-grafana

#1525 Teku to 6g heap
  teku-cl-only.yml
  teku.yml
Labels: test-teku

#1526 ethd line length
  ethd
Labels: test-ethd

#1527 Teku heap to 7g
  teku-cl-only.yml
  teku.yml
Labels: test-teku

#1528 More heap space for Lodestar
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/Dockerfile.binary
  lodestar/Dockerfile.source
Labels: test-lodestar

#1529 Configurable Lodestar heap, Teku back down to 4g
  default.env
  ethd
  lodestar-cl-only.yml
  lodestar-vc-only.yml
  lodestar.yml
  lodestar/Dockerfile.binary
  teku-cl-only.yml
  teku.yml
Labels: test-teku, test-lodestar

#1530 Don't use keymanager to register w3s keys with Teku
  ethd
  teku.yml
  vc-utils/keymanager.sh
Labels: test-teku

#1531 Teku relies on remote registration for web3signer
  ethd
  teku.yml
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
  vc-utils/keymanager.sh
Labels: test-teku

#1535 Update default relays
  default.env
  ethd
Labels: test-ethd

#1537 Add QUIC port to Lighthouse
  default.env
  ethd
  lighthouse-cl-only.yml
  lighthouse.yml
Labels: test-lighthouse

#1538 Update default Graffiti for Holesky
  default.env
Labels: test-geth, test-ethd

#1524 Nethermind executable names for v1.21
  .github/check-service.sh
  ethd
  nethermind.yml
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.source
Labels: test-nethermind
