Repository ethstaker/eth-docker, pull requests merged in 2023-07, with the labels that each got.

#1441 Lodestar forces validator open, in case of lingering lock files
  lodestar-vc-only.yml
  lodestar.yml
Labels: test-lodestar

#1439 Allow promtail to be configurable
  .gitignore
  default.env
  grafana-cloud.yml
  grafana.yml
  promtail/custom-lokiurl.yml.sample
  promtail/entrypoint.sh
  promtail/global.yml
Labels: test-grafana

#1445 Rename Loki label to LOGS_LABEL in .env
  default.env
  ethd
  grafana-cloud.yml
  grafana.yml
Labels: test-grafana

#1448 Nethermind no longer uses dasel
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.dev
  nethermind/Dockerfile.source
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1449 Nimbus VC only can use mev-boost
  nimbus/docker-entrypoint-vc.sh
Labels: test-nimbus

#1450 Fix Teku VC to Lighthouse CL
  teku-vc-only.yml
Labels: test-teku

#1451 Change source builds to bookworm from bullseye
  lighthouse/Dockerfile.source
  nimbus-el/Dockerfile.source
  nimbus/Dockerfile.source
  nimbus/Dockerfile.sourcegnosis
  nimbus/Dockerfile.sourceslottime
  prysm/Dockerfile.binary
  prysm/Dockerfile.source
  reth/Dockerfile.source
  staking-deposit-cli/Dockerfile
  vc-utils/Dockerfile
Labels: test-all
