Repository ethstaker/eth-docker, pull requests merged in 2024-08, with the labels that each got.

#1888 Support Siren 2.0
  README.md
  default.env
  ethd
  siren-shared.yml
  siren.yml
  siren/docker-entrypoint.sh
Labels: test-ethd

#1889 Resolve build warnings
  besu/Dockerfile.binary
  default.env
  erigon/Dockerfile.binary
  flashbots/Dockerfile.binary
  geth/Dockerfile.binary
  grandine/Dockerfile.binary
  lighthouse/Dockerfile.binary
  lodestar/Dockerfile.binary
  nethermind/Dockerfile.binary
  nimbus/Dockerfile.binary
  prysm/Dockerfile.binary
  reth/Dockerfile.binary
  teku/Dockerfile.binary
  traefik/Dockerfile
  web3signer/Dockerfile.binary
Labels: test-all

#1890 Nethermind use default RPC namespaces
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1892 Support Teku IPv6
  README.md
  teku-cl-only.yml
  teku.yml
  teku/docker-entrypoint.sh
Labels: test-teku

#1891 Switch Lodestar docker build to debian
  lodestar/Dockerfile.binary
  lodestar/Dockerfile.source
  lodestar/docker-entrypoint-vc.sh
  lodestar/docker-entrypoint.sh
Labels: test-lodestar

#1894 Teku VC - use default for early-attestations-enabled
  teku-vc-only.yml
Labels: test-teku

#1896 Support Erigon v3
  erigon.yml
  erigon/docker-entrypoint.sh
  ethd
Labels: test-erigon

#1898 Support Erigon Caplin CL
  caplin-shared.yml
  caplin-traefik.yml
  erigon.yml
  erigon/docker-entrypoint.sh
Labels: test-erigon

#1899 Caplin announce MEV and Checkpoint
  erigon/docker-entrypoint.sh
Labels: test-erigon

#1902 OCD eth1 rename
  besu.yml
  besu/Dockerfile.binary
  besu/Dockerfile.source
  besu/docker-entrypoint.sh
  ethd
  geth.yml
  geth/Dockerfile.binary
  geth/Dockerfile.source
  geth/docker-entrypoint.sh
  nethermind.yml
  nethermind/Dockerfile.binary
  nethermind/Dockerfile.source
  nethermind/docker-entrypoint.sh
Labels: test-geth, test-nethermind, test-besu, test-ethd

#1905 Change selection order during config
  ethd
Labels: test-ethd

#1906 Erigon default to v2.60.6
  default.env
Labels: test-erigon

#1908 Ethereum Metrics Exporter 0.24.0
  central-metrics.yml
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
Labels: test-grafana

#1910 Clarify the OS nag
  ethd
Labels: test-ethd

#1911 Link to OS upgrade guides
  ethd
Labels: test-ethd

#1915 Fix dkg_output mod update asking for sudo when not needed
  ethd
Labels: test-ethd

#1914 Updated SSV dashboards
  ethd
  grafana/provision.sh
Labels: test-grafana, test-ethd

#1917 Prysm persist w3s keys loaded via keymanager
  README.md
  prysm/docker-entrypoint-vc.sh
  vc-utils/keymanager.sh
Labels: test-prysm
