Repository ethstaker/eth-docker, pull requests merged in 2024-09, with the labels that each got.

#1921 Refactor ethd to __ var names
  ethd
Labels: test-ethd

#1920 Remove Prysm deprecated `--enable-debug-rpc-endpoints`
  prysm-cl-only.yml
  prysm.yml
Labels: test-prysm

#1918 Nethermind cachemb
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1919 Prysm resolve w3s warnings
  prysm-vc-only.yml
  prysm.yml
  prysm/docker-entrypoint-vc.sh
Labels: test-prysm

#1924 Reth include SSV RocketPool StakeWise contract in full
  ethd
  reth/docker-entrypoint.sh
Labels: test-reth

#1923 New Erigon repo and tag
  default.env
  erigon.yml
  erigon/Dockerfile.binary
  ethd
Labels: test-erigon

#1928 Fix wrong method name
  ethd
Labels: test-ethd

#1931 Move ejector messages to .eth
  .eth/charon/.empty
  .eth/lido-ejector/.empty
  .gitignore
  ethd
  lido-obol.yml
Labels: test-ethd

#1926 Remove Eden relay
  ethd
Labels: test-ethd

#1932 Titan relay
  ethd
Labels: test-ethd

#1934 Fix grafana
  grafana-cloud.yml
  grafana.yml
Labels: test-grafana

#1933 discv5 Geth is now enabled by default
  geth/docker-entrypoint.sh
Labels: test-geth

#1936 Sys proc rslave
  grafana-cloud.yml
  grafana.yml
Labels: test-grafana

#1941 Manual v6 enr
  besu.yml
  besu/docker-entrypoint.sh
  default.env
  grandine/docker-entrypoint.sh
  lighthouse/docker-entrypoint.sh
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/Dockerfile.binary
  lodestar/Dockerfile.source
  lodestar/docker-entrypoint.sh
  nethermind.yml
  teku-allin1.yml
  teku-cl-only.yml
  teku.yml
  teku/docker-entrypoint.sh
Labels: test-all

#1942 Fix Lighthouse v6
  lighthouse-cl-only.yml
  lighthouse.yml
  lighthouse/docker-entrypoint.sh
Labels: test-lighthouse

#1943 Lh v6 fix
  lighthouse-cl-only.yml
Labels: test-lighthouse

#1944 Revert "Fix Lighthouse v6 (#1942)"
  lighthouse-cl-only.yml
  lighthouse.yml
  lighthouse/docker-entrypoint.sh
Labels: test-lighthouse
