Repository ethstaker/eth-docker, pull requests merged in 2024-10, with the labels that each got.

#1947 Lh enr udp6
  lighthouse/docker-entrypoint.sh
Labels: test-lighthouse

#1949 Better Erigon v3 detection
  ethd
Labels: test-ethd

#1946 Reth all receipts
  reth/docker-entrypoint.sh
Labels: test-reth

#1948 Check for v6 and enable if it works
  ethd
Labels: test-ethd

#1950 Fix: Broken `Lido DV Exit` and `Lido validator ejector` when a secondery CL client is added to `Charon`
  default.env
  ethd
  lido-obol.yml
Labels: test-ethd

#1955 [CSM] feat: update relays list for CSM on mainnet
  ethd
Labels: test-ethd

#1956 [CSM] feat: add ref for CSM link
  ethd
Labels: test-ethd

#1957 Prysm http
  .github/workflows/test-prysm-geth.yml
  prysm-cl-only.yml
  prysm-vc-only.yml
  prysm.yml
Labels: test-prysm

#1959 Prysm wallet password
  prysm-vc-only.yml
  prysm.yml
Labels: test-prysm

#1963 Don't check for docker service on WSL
  ethd
Labels: test-ethd

#1966 If CL_NODE is comma-separated, use just the first
  ethd
Labels: test-ethd

#1965 Switch Erigon users to new repo
  erigon/Dockerfile.binary
  erigon/Dockerfile.source
  erigon/docker-entrypoint.sh
  ethd
  grandine/Dockerfile.source
  reth/Dockerfile.binary
  reth/Dockerfile.source
Labels: test-reth, test-erigon, test-ethd, test-grandine

#1967 [Lido] fix: fee recipient address case
  ethd
Labels: test-ethd

#1969 Update mainnet Lido Oracle addresses
  ethd
  lido-obol.yml
Labels: test-ethd

#1973 Fix awk regex
  ethd
Labels: test-ethd

#1974 GRAFFITI can be undefined
  ethd
Labels: test-ethd

#1975 Many vars can be undefined
  ethd
Labels: test-ethd

#1976 Add ephemery testnet
  ethd
Labels: test-ethd
