Repository ethstaker/eth-docker, pull requests merged in 2024-05, with the labels that each got.

#1817 Test for Nethermind instability
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1798 Loki3
  grafana.yml
  loki/loki.yml
Labels: test-grafana

#1819 UX improvements to install and config
  ethd
Labels: test-ethd

#1820 Prep fix for ext-network handling
  .gitignore
  ethd
  ext-network.yml.sample
Labels: test-ethd

#1821 Better prep
  ethd
Labels: test-ethd

#1823 Add SSV DKG
  .eth/dkg_output/.empty
  .gitignore
  default.env
  ethd
  ssv-config/config-sample.yaml
  ssv-config/dkg-config-sample.yaml
  ssv-dkg.yml
Labels: test-ethd

#1824 free space instead of space free
  ethd
Labels: test-ethd

#1825 Update Gnosis Chain checkpoint
  ethd
Labels: test-ethd

#1828 Query owner group and use it
  ethd
Labels: test-ethd

#1831 Migrate to new volume names
  ethd
  lighthouse.yml
  lighthouse/Dockerfile.binary
  lighthouse/Dockerfile.source
  lighthouse/docker-entrypoint.sh
  prysm.yml
  prysm/Dockerfile.binary
  prysm/Dockerfile.source
  prysm/docker-entrypoint.sh
Labels: test-all

#1833 ethd/prep_conffiles() now only runs chown .eth/dkg_output when necessary
  ethd
Labels: test-ethd

#1834 Enable separate Reth static dir
  default.env
  reth.yml
  reth/docker-entrypoint.sh
Labels: test-reth

#1835 Besu default heap 6g
  besu.yml
Labels: test-besu

#1836 Revert "Besu default heap 6g"
  besu.yml
Labels: test-besu

#1837 Build Besu with JDK 21
  besu/Dockerfile.source
Labels: test-besu
