Repository ethstaker/eth-docker, pull requests merged in 2024-06, with the labels that each got.

#1842 Fix SSV config
  .gitignore
  default.env
  ethd
Labels: test-ethd

#1843 Grandine use prune-storage if not archive
  grandine/docker-entrypoint.sh
Labels: test-grandine

#1844 Fix Lodestar source build
  lodestar/Dockerfile.source
Labels: test-lodestar

#1847 LH latest
  default.env
  ethd
Labels: test-ethd

#1848 Support Nethermind 1.27
  nethermind/Dockerfile.binary
Labels: test-nethermind

#1850 Comment re Reth RPC debug
  reth.yml
Labels: test-reth

#1854 Trie log limit is now Besu default
  besu/docker-entrypoint.sh
Labels: test-besu

#1855 add network label to services
  besu.yml
  central-metrics.yml
  erigon.yml
  geth.yml
  grafana-cloud.yml
  grafana.yml
  grandine-allin1.yml
  grandine-cl-only.yml
  lighthouse-cl-only.yml
  lighthouse-vc-only.yml
  lighthouse.yml
  lodestar-cl-only.yml
  lodestar-vc-only.yml
  lodestar.yml
  nethermind.yml
  nimbus-allin1.yml
  nimbus-cl-only.yml
  nimbus-vc-only.yml
  nimbus.yml
  prometheus/base-config.yml
  prysm-cl-only.yml
  prysm-vc-only.yml
  prysm.yml
  reth.yml
  ssv.yml
  teku-allin1.yml
  teku-cl-only.yml
  teku-vc-only.yml
  teku.yml
  traefik-aws.yml
  traefik-cf.yml
  web3signer.yml
Labels: test-grafana

#1857 Support Prysm QUIC
  README.md
  besu/Dockerfile.source
  erigon/Dockerfile.source
  ethd
  flashbots/Dockerfile.source
  geth/Dockerfile.source
  grandine/Dockerfile.source
  lighthouse/Dockerfile.source
  lodestar/Dockerfile.source
  nethermind/Dockerfile.source
  nimbus-el/Dockerfile.source
  nimbus/Dockerfile.binary
  nimbus/Dockerfile.source
  nimbus/Dockerfile.sourcegnosis
  nimbus/Dockerfile.sourceslottime
  prysm-cl-only.yml
  prysm.yml
  prysm/Dockerfile.binary
  prysm/Dockerfile.source
  prysm/docker-entrypoint.sh
  reth/Dockerfile.source
  teku/Dockerfile.source
  web3signer/Dockerfile.binary
Labels: test-prysm

#1859 Reth release version
  ethd
Labels: test-reth
