Repository ethstaker/eth-docker, pull requests merged in 2024-04, with the labels that each got.

#1792 Add discv5 to Reth
  README.md
  ethd
  reth.yml
Labels: test-reth

#1797 Add delete_request_store to Loki
  loki/loki.yml
Labels: test-grafana

#1799 Earlier check for snap
  ethd
Labels: test-ethd

#1800 Drop support for Ubuntu 20.04
  ethd
Labels: test-ethd

#1804 Lodestar default peers 100
  lodestar.yml
Labels: test-lodestar

#1805 Fix Lodestar max peer cl-only
  lodestar-cl-only.yml
Labels: test-lodestar

#1781 Geth 1.14 defaults
  geth.yml
  geth/docker-entrypoint.sh
  reth.yml
  reth/docker-entrypoint.sh
Labels: test-geth

#1806 Remove prune-geth
  ethd
  geth.yml
  geth/docker-entrypoint.sh
Labels: test-geth

#1808 Increase pruning cache size to 4096MB for Nethermind for 30+GB machines.
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1706 Grandine support
  .github/workflows/test-grandine-reth.yml
  default.env
  ethd
  grandine-allin1.yml
  grandine-cl-only.yml
  grandine/Dockerfile.binary
  grandine/Dockerfile.source
  grandine/docker-entrypoint.sh
  teku-cl-only.yml
  vc-utils/keymanager.sh
  web3signer.yml
Labels: test-grandine

#1810 Reth version check uses stack-local volume
  ethd
Labels: test-reth

#1812 Add Grandine to metrics exporter start script
  eth-metrics/docker-entrypoint.sh
Labels: test-grafana

#1814 metrics-exporter fix
  central-metrics.yml
  eth-metrics/Dockerfile
  eth-metrics/docker-entrypoint.sh
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
Labels: test-grafana

#1815 Fix metrics-exporter EL url
  central-metrics.yml
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
Labels: test-grafana

#1816 Fix Grandine CL pull_policy
  grandine-cl-only.yml
Labels: test-grandine
