Repository ethstaker/eth-docker, pull requests merged in 2024-02, with the labels that each got.

#1727 update --help added
  ethd
Labels: test-ethd

#1729 Fix high memory alert
  grafana/default-alerts/memory.yml
Labels: test-grafana

#1730 Better graffiti input check
  ethd
  vc-utils/keymanager.sh
Labels: test-ethd

#1733 No DDNS version
  ethd
Labels: test-ethd

#1737 DDNS tag adjustment fix
  ethd
Labels: test-ethd

#1740 ethd keys prepare-address-change with Prysm
  prysm-cl-only.yml
  prysm.yml
Labels: test-prysm

#1743 No disk space check on macOS
  ethd
Labels: test-ethd

#1745 macOS space check
  ethd
Labels: test-ethd

#1721 Review lodestar cli flags
  lodestar-cl-only.yml
  lodestar-vc-only.yml
  lodestar.yml
  lodestar/docker-entrypoint.sh
Labels: test-lodestar

#1747 Improve CI
  .github/test-ethd-config.exp
  .github/test.exp
  .github/workflows/lint.yml
  .github/workflows/test-ethd.yml
  .github/workflows/test-grafana.yml
  .github/workflows/test-lighthouse-reth.yml
  .github/workflows/test-lodestar-erigon.yml
  .github/workflows/test-nimbus-nethermind.yml
  .github/workflows/test-prysm-geth.yml
  .github/workflows/test-teku-besu.yml
Labels: test-ethd

#1756 Lighthouse peers to 100
  lighthouse-cl-only.yml
  lighthouse.yml
Labels: test-lighthouse

#1758 Reth DB change cleanup
  ethd
Labels: test-ethd

#1760 Replace stat with ls
  ethd
Labels: test-ethd

#1761 Nethermind set metrics host
  ethd
  nethermind.yml
Labels: test-nethermind

#1764 Fix ethd config
  ethd
Labels: test-ethd

#1765 Besu high spec
  besu/docker-entrypoint.sh
Labels: test-besu

#1766 pull_policy change
  besu.yml
  central-metrics.yml
  deposit-cli.yml
  erigon.yml
  ethdo.yml
  geth.yml
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
  lighthouse-cl-only.yml
  lighthouse-vc-only.yml
  lighthouse.yml
  lodestar-cl-only.yml
  lodestar-vc-only.yml
  lodestar.yml
  mev-boost.yml
  nethermind.yml
  nimbus-allin1.yml
  nimbus-cl-only.yml
  nimbus-el.yml
  nimbus-vc-only.yml
  nimbus.yml
  prysm-cl-only.yml
  prysm-stats.yml
  prysm-vc-only.yml
  prysm.yml
  reth.yml
  teku-allin1.yml
  teku-cl-only.yml
  teku-vc-only.yml
  teku.yml
  traefik-aws.yml
  traefik-cf.yml
  web3signer.yml
Labels: test-all

#1768 ethereum-metrics-exporter to 0.23.0
  eth-metrics/Dockerfile
Labels: test-grafana
