Repository ethstaker/eth-docker, pull requests merged in 2024-07, with the labels that each got.

#1861 Fix no DKG during config
  ethd
  reth.yml
Labels: test-reth, test-ethd

#1862 Feat: add prune-reth
  ethd
  reth.yml
  reth/Dockerfile.binary
  reth/Dockerfile.source
  reth/docker-entrypoint.sh
Labels: test-reth

#1863 Adjust to Prysm changed auth token
  prysm.yml
  vc-utils/keymanager.sh
Labels: test-prysm

#1865 Auth change for prysm-vc-only
  prysm-vc-only.yml
Labels: test-prysm

#1866 Grandine mev-boost parameter change
  grandine/docker-entrypoint.sh
Labels: test-grandine

#1867 Grandine default tag stable
  default.env
Labels: test-grandine

#1868 Lodestar 1.20 flags update
  lodestar.yml
Labels: test-lodestar

#1869 Reenable Nethermind pruning.cachemb
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1870 Use trie-log prune for Besu
  besu/docker-entrypoint.sh
Labels: test-besu

#1876 Allow debug on key import
  ethd
  staking-deposit-cli/Dockerfile
  vc-utils/keymanager.sh
Labels: test-ethd

#1877 Only grep .profile if it exists
  ethd
Labels: test-ethd

#1878 Switch Nimbus source build to alpine
  nimbus/Dockerfile.source
  nimbus/docker-entrypoint-vc.sh
  nimbus/docker-entrypoint.sh
Labels: test-nimbus

#1879 Add riscv to ethd config
  ethd
Labels: test-ethd

#1880 config looks for arm64, mac string
  ethd
Labels: test-ethd

#1883 Fix riscv64 config
  ethd
Labels: test-ethd

#1884 Remove Nimbus from SSV config query
  ethd
Labels: test-ethd

#1886 Revert "Remove Nimbus from SSV config query (#1884)"
  ethd
Labels: test-ethd

#1887 Lighthouse new dashboard version
  grafana/provision.sh
Labels: test-grafana
