Repository ethstaker/eth-docker, pull requests merged in 2024-01, with the labels that each got.

#1696 Drop support for Debian 10
  ethd
Labels: test-ethd

#1698 More careful resync
  ethd
Labels: test-ethd

#1700 Remove Nethermind memory hints
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#1701 Prep Reth DB change
  ethd
Labels: test-ethd

#1703 Prysm max peer 70 default
  prysm-cl-only.yml
  prysm.yml
Labels: test-prysm

#1704 Fix Nethermind prune error
  ethd
Labels: test-ethd

#1705 yq dependency as just "4"
  prometheus/Dockerfile
Labels: test-grafana

#1707 Add CL aliases
  lighthouse-cl-only.yml
  lighthouse.yml
  lodestar-cl-only.yml
  lodestar.yml
  nimbus-cl-only.yml
  nimbus.yml
  prysm-cl-only.yml
  prysm.yml
  teku-cl-only.yml
  teku.yml
Labels: test-all

#1708 Add Bloxroute relay to Holesky
  default.env
  ethd
Labels: test-ethd

#1710 Add high spec flag to Besu on 32 GiB
  besu/docker-entrypoint.sh
Labels: test-besu

#1711 Add parameter to support Erigon 2.55 and later
  erigon.yml
Labels: test-erigon

#1713 Besu high spec w/ 64
  besu/docker-entrypoint.sh
Labels: test-besu

#1715 Teku default to 5g
  default.env
  teku-allin1.yml
  teku-cl-only.yml
  teku.yml
Labels: test-teku

#1714 Update Lodestar beacon max-old-space-size to 8192
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/Dockerfile.source
Labels: test-lodestar

#1717 Default execution API
  besu.yml
  nimbus-el.yml
  reth.yml
Labels: test-reth, test-besu

#1702 Mainnet Dencun changes
  README.md
  default.env
  ethd
  lighthouse-cl-only.yml
  lighthouse-vc-only.yml
  lighthouse.yml
  lighthouse/Dockerfile.binary
  lighthouse/Dockerfile.source
  lighthouse/docker-entrypoint.sh
Labels: test-lighthouse

#1719 Add sign-exit all
  ethd
  vc-utils/keymanager.sh
Labels: test-ethd

#1723 Attempt to fix Nethermind dashboard
  grafana/provision.sh
Labels: test-grafana

#1724 Fix ssv node instance to match dashboard
  ssv.yml
Labels: test-grafana
