Repository ethstaker/eth-docker, pull requests merged in 2024-11, with the labels that each got.

#1979 [LIDO] fix: titan relays should be in optional list
  ethd
Labels: test-ethd

#1981 Better logs for Reth existing and new sync
  reth/docker-entrypoint.sh
Labels: test-reth

#1983 Do not conflict v6 p2p with prometheus
  default.env
Labels: test-ethd

#1985 feat: :sparkles: added max peers to Reth (EL)
  reth.yml
Labels: test-reth

#1987 Typo Update docker-entrypoint.sh
  lodestar/docker-entrypoint.sh
Labels: test-lodestar

#1988 support multiple consensus nodes in nimbus-vc
  default.env
  nimbus-vc-only.yml
  nimbus/docker-entrypoint-vc.sh
Labels: test-nimbus

#1991 Enhance Message Clarity with Improved Grammar
  default.env
  ethd
Labels: test-ethd

#1992 Comma-separated with nimbus.yml
  nimbus.yml
Labels: test-nimbus

#1993 The CI didn't test the validator, leftover from allin1
  .github/workflows/test-nimbus-nethermind.yml
  .github/workflows/test-teku-besu.yml
Labels: test-nimbus, test-teku

#1990 Detect Docker root dir on `ethd` run
  default.env
  ethd
  grafana-cloud.yml
  grafana.yml
Labels: test-ethd

#1994 Nimbus EL update
  default.env
  ethd
  nimbus-el.yml
  nimbus-el/Dockerfile.source
  nimbus-el/docker-entrypoint.sh
Labels: test-ethd

#1995 CL_IPV6_P2P_PORT retained during update
  ethd
Labels: test-ethd

#1996 Fix ethd config
  ethd
Labels: test-ethd

#1998 Switch to ethstaker-deposit-cli
  default.env
  deposit-cli.yml
  ethd
  ethstaker-deposit-cli/Dockerfile.binary
  ethstaker-deposit-cli/Dockerfile.source
  ethstaker-deposit-cli/docker-entrypoint.sh
Labels: test-ethd

#1999 Deposit cli source build detection
  ethd
Labels: test-ethd
