Repository ethstaker/eth-docker, pull requests merged in 2024-12, with the labels that each got.

#2001 Compatible with Lighthouse v6
  ethd
  lighthouse-vc-only.yml
  lighthouse.yml
Labels: test-lighthouse

#2004 Fix .env ownership if script is run as root
  ethd
Labels: test-ethd

#2003 chore: fix typo
  nimbus/docker-entrypoint-vc.sh
Labels: test-nimbus

#2005 v2.15.0.0 and Nethermind 1.30.0 data-dir
  README.md
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#2006 Eth Docker pinning would work with semver tags, or other tags
  ethd
Labels: test-ethd

#2007 Clearly identify Nethermind during ethd version
  ethd
Labels: test-ethd

#2008 Use .NET 9 for Nethermind source build
  nethermind/Dockerfile.source
Labels: test-nethermind

#2009 ethd space works with large volume lists
  ethd
Labels: test-ethd

#2010 Handle dir with UPPER chars
  ethd
Labels: test-ethd
