Repository ethstaker/eth-docker, pull requests merged in 2025-01, with the labels that each got.

#2025 System Nim is not supported by Nimbus team
  nimbus/Dockerfile.source
  nimbus/docker-entrypoint.sh
Labels: test-nimbus

#2036 Migrate Xatu to Contributoor
  default.env
  ethd
  xatu.yml
Labels: test-ethd

#2034 rename ERIGON_P2P_PORT_2 -> EL_P2P_PORT_2
  default.env
  erigon.yml
  ethd
  reth.yml
Labels: test-reth, test-erigon, test-ethd

#2037 Print contributoor version
  ethd
Labels: test-ethd

#2038 Fix contributoor version
  ethd
Labels: test-ethd

#2042 Do not suggest our own graffiti
  default.env
Labels: test-ethd

#2040 Handle Debian n/a version
  ethd
Labels: test-ethd

#2039 Erigon 3
  default.env
  erigon.yml
  erigon/docker-entrypoint.sh
  ethd
Labels: test-erigon, test-ethd

#2043 config JWT_SECRET improvements
  ethd
Labels: test-ethd

#2044 Add SSV Pulse benchmark
  default.env
  ethd
  ssv-config/config-sample.yaml
  ssv-pulse.yml
Labels: test-ethd

#2046 Fix find
  ethd
Labels: test-ethd

#2047 Fix EL_NODE during RocketPool config
  ethd
Labels: test-ethd

#2045 Fix ext-network.yml prep
  .gitignore
  default.env
  ethd
  ext-network.yml.sample
Labels: test-ethd
