Repository ethstaker/eth-docker, pull requests merged in 2025-02, with the labels that each got.

#2051 Improve sending change message with ethdo
  .eth/ethdo/create-withdrawal-change.sh
  ethd
  ethdo.yml
Labels: test-ethd

#2054 fix: typos in documentation files
  ethd
Labels: test-ethd

#2056 Split EL and CL archive node
  besu.yml
  default.env
  erigon.yml
  ethd
  geth.yml
  grandine-allin1.yml
  grandine-cl-only.yml
  lighthouse-cl-only.yml
  lighthouse.yml
  lighthouse/docker-entrypoint.sh
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/docker-entrypoint.sh
  nethermind.yml
  nimbus-allin1.yml
  nimbus-cl-only.yml
  nimbus-el.yml
  nimbus.yml
  prysm-cl-only.yml
  prysm.yml
  prysm/docker-entrypoint.sh
  reth.yml
  teku-allin1.yml
  teku-cl-only.yml
  teku.yml
Labels: test-all

#2057 Adjust caplin parameters
  erigon/docker-entrypoint.sh
Labels: test-erigon

#2060 Grandine back-sync in entrypoint
  grandine-allin1.yml
Labels: test-grandine

#2061 Nethermind remove null Pushgateway
  nethermind.yml
Labels: test-nethermind

#2058 Change postgres upgrade image
  ethd
Labels: test-ethd

#2063 ethd update runs in screen if interactive
  ethd
Labels: test-ethd

#2065 Retain pretty compose output in screen
  ethd
Labels: test-ethd

#2070 Prysm enable-quic is deprecated
  prysm-cl-only.yml
  prysm.yml
Labels: test-prysm

#2071 --refresh-targets keep DOCKER_ROOT
  ethd
Labels: test-ethd

#2072 ethd update clearer screen messages
  ethd
Labels: test-ethd

#2074 Cleanup old screens
  ethd
Labels: test-ethd

#2076 Screen sessions are started as the owner
  ethd
Labels: test-ethd

#2078 Revert "Screen sessions are started as the owner (#2076)"
  ethd
Labels: test-ethd
