Repository ethstaker/eth-docker, pull requests merged in 2025-03, with the labels that each got.

#2085 New SSV dashboard
  grafana/provision.sh
Labels: test-grafana

#2084 Use a login shell when launching screen
  ethd
Labels: test-ethd

#2089 Force libjemalloc-dev for Teku
  teku/Dockerfile.binary
  teku/Dockerfile.source
Labels: test-teku

#2093 Rename RAPID_SYNC_URL to CHECKPOINT_SYNC_URL
  default.env
  erigon.yml
  erigon/docker-entrypoint.sh
  ethd
  grandine-allin1.yml
  grandine-cl-only.yml
  grandine/docker-entrypoint.sh
  lighthouse-cl-only.yml
  lighthouse.yml
  lighthouse/docker-entrypoint.sh
  lodestar-cl-only.yml
  lodestar.yml
  lodestar/docker-entrypoint.sh
  nimbus-allin1.yml
  nimbus-cl-only.yml
  nimbus.yml
  nimbus/docker-entrypoint.sh
  prysm-cl-only.yml
  prysm.yml
  prysm/docker-entrypoint.sh
  teku-allin1.yml
  teku-cl-only.yml
  teku.yml
  teku/docker-entrypoint.sh
Labels: test-all

#2104 Lodestar is written in TypeScript
  ethd
Labels: test-ethd

#2105 fix: double added --Prunning.Mode for Nethermind
  nethermind/docker-entrypoint.sh
Labels: test-nethermind

#2106 Erigon http.api for custom and named networks
  erigon.yml
  erigon/docker-entrypoint.sh
Labels: test-erigon

#2108 Erigon brings its own CL
  ethd
Labels: test-ethd

#2109 Remove CL/EL match nag
  default.env
  ethd
Labels: test-ethd

#2111 Preserve Lido Obol variables
  ethd
Labels: test-ethd

#2116 Erigon latest tag is now v3
  erigon/docker-entrypoint.sh
  ethd
Labels: test-erigon, test-ethd

#2114 Fix Vero CI
  .github/workflows/test-vero.yml
  vero-vc-only.yml
  vero/Dockerfile.binary
  vero/Dockerfile.source
  vero/docker-entrypoint.sh
Labels: test-vero

#2110 Introduce alias for web3signer
  commit-boost-pbs.yml
  default.env
  grandine-allin1.yml
  grandine/docker-entrypoint.sh
  lighthouse-vc-only.yml
  lighthouse.yml
  lodestar-vc-only.yml
  lodestar.yml
  lodestar/docker-entrypoint-vc.sh
  mev-boost.yml
  nimbus-allin1.yml
  nimbus-vc-only.yml
  nimbus.yml
  nimbus/docker-entrypoint-vc.sh
  nimbus/docker-entrypoint.sh
  prysm-vc-only.yml
  prysm.yml
  prysm/docker-entrypoint-vc.sh
  teku-allin1.yml
  teku-vc-only.yml
  teku.yml
  teku/docker-entrypoint-vc.sh
  teku/docker-entrypoint.sh
  vc-utils/keymanager.sh
  vero-vc-only.yml
  vero/docker-entrypoint.sh
  web3signer.yml
Labels: test-all

#2112 Test against default.env with update --debug and add to CI
  .github/workflows/test-update.yml
  ethd
Labels: test-ethd

#2117 Query history expiry if Erigon
  ethd
Labels: test-ethd

#2120 For Lido Obol, can't use lodestar.yml
  ethd
Labels: test-ethd

#2103 Replace Holesky with Hoodi
  commit-boost/cb-config.toml.sample
  default.env
  erigon/docker-entrypoint.sh
  ethd
  prysm/docker-entrypoint.sh
  ssv-config/config-sample.yaml
  teku/docker-entrypoint.sh
Labels: test-ethd, chase-better-than-catch

#2123 Add aliases for EL, CL and W3S
  besu.yml
  commit-boost-pbs.yml
  default.env
  erigon.yml
  ethd
  geth.yml
  grandine-allin1.yml
  grandine-cl-only.yml
  lighthouse-cl-only.yml
  lighthouse.yml
  lodestar-cl-only.yml
  lodestar.yml
  mev-boost.yml
  nethermind.yml
  nimbus-allin1.yml
  nimbus-cl-only.yml
  nimbus-el.yml
  nimbus.yml
  prysm-cl-only.yml
  prysm.yml
  reth.yml
  teku-allin1.yml
  teku-cl-only.yml
  teku.yml
  web3signer.yml
Labels: test-all

#2126 Teku VC cert uses VC_ALIAS
  teku-vc-only.yml
  teku.yml
  teku/docker-entrypoint-vc.sh
Labels: test-teku

#2131 SSV use Hoodi in error message
  ethd
Labels: test-ethd

#2130 Add Hoodi flashbots relay
  commit-boost/cb-config.toml.sample
  default.env
  ethd
Labels: test-ethd

#2128 Update ethereum-metrics-exporter
  grafana-cloud.yml
  grafana-rootless.yml
  grafana.yml
Labels: test-grafana

#2127 If custom network, set sane aliases
  ethd
Labels: test-ethd

#2132 ethd config offers Caplin
  ethd
Labels: test-ethd

#2122 ethd update reads variables from default.env
  ethd
Labels: test-ethd

#2133 Move MEV_NODE to after MEV_ALIAS
  default.env
Labels: test-ethd
